.App {
  text-align: center;
}

.header-title {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: calc(16px + 5.5vmin);
  margin: auto;
  margin-top: 2%;
  padding: 15px;
  width: 80%;
}

.ivar-logo {
  width: calc(50px + 6vmin);
  display:inline-block;
  margin-bottom: 1%;
}

.ornament {
  width: calc(50px + 20vmin);
  display:inline-block;
}
  
